body{

font-family: Arial;
background:#0f172a;
color:white;
display:flex;
justify-content:center;
align-items:center;
height:100vh;

}

.container{

background:#1e293b;
padding:40px;
border-radius:12px;
width:400px;
text-align:center;

}

select{

padding:10px;
margin:10px;
width:80%;

}

button{

padding:12px;
background:#3b82f6;
color:white;
border:none;
border-radius:8px;
cursor:pointer;

}

button:hover{

background:#2563eb;

}

#result{

margin-top:20px;
font-size:18px;

}
